<div class="flex flex-column p-2">
  <mat-form-field>
    <mat-label>Hero Searcher</mat-label>
    <input
      type="text"
      matInput
      [formControl]="searchControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="onOptionSelected($event)"
    >
      <ng-container *ngIf="heroes.length > 0; else noResults">
        <mat-option *ngFor="let hero of heroes" [value]="hero.superhero">
          {{ hero.superhero }}
        </mat-option>
      </ng-container>

      <ng-template #noResults>
        <mat-option disabled>No names found with the given query...</mat-option>
      </ng-template>
    </mat-autocomplete>
  </mat-form-field>
</div>
