<h1>Add Hero <small>(name)</small></h1>
<mat-divider class="mb-2"></mat-divider>
<div class="grid">
  <!-- * div 1 -->
  <div class="col-12 sm:col-6">
    <mat-card>
      <mat-card-content>
        <div class="grid">
          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Super heroe</mat-label>
            <input matInput type="text" />
          </mat-form-field>
          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Alter ego</mat-label>
            <input matInput type="text" />
          </mat-form-field>
          <!-- *this one is only 12 col: -->
          <mat-form-field class="col-12">
            <mat-label>First Appereance</mat-label>
            <input matInput type="text" />
          </mat-form-field>
          <!-- *this one is only 12 col: -->
          <mat-form-field class="col-12">
            <mat-label>Characters</mat-label>
            <input matInput type="text" />
          </mat-form-field>
          <!-- *this one is only 12 col: -->
          <mat-form-field class="col-12">
            <mat-label>Creator/Publisher</mat-label>
            <input matInput type="text" />

            <!-- ! selector instead of input:
            <mat-select>
              <mat-option></mat-option>
            </mat-select> -->
          </mat-form-field>
          <!-- *this one is only 12 col: -->
          <mat-form-field class="col-12">
            <mat-label>Image URL</mat-label>
            <input matInput type="text" />
          </mat-form-field>
          <!-- * buttons -->
          <button mat-flat-button color="warn">Delete</button>
          <span class="example-spacer"></span>
          <button mat-flat-button color="primary">
            <mat-icon>save</mat-icon> Save
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- * div 2 -->
  <div class="col-12 sm:col-6">
    <mat-card>
      <!-- * here you put whatever you want. in the example there's an image. but you could add here ex: todo's -->
      <img class="img-main" src="/assets/no-image.jpeg" alt="hero image" />
    </mat-card>
  </div>
</div>
