<form class="flex flex-column" [formGroup]="myForm" (ngSubmit)="onLogin()">
  <span class="text-lg mb-4">Sign In</span>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input type="text" matInput placeholder="Email" formControlName="email" />
    <!-- ! validator -->
    <mat-error
      *ngIf="myForm.controls['email'].errors?.['required'] || myForm.controls['email'].errors?.['pattern']"
      >email must have proper format ex: ...@gmail.com</mat-error
    >

    <!-- ! -->
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      type="password"
      matInput
      placeholder="Password"
      formControlName="password"
    />
    <!-- ! validator -->
    <mat-error
      *ngIf="myForm.controls['password'].errors?.['required'] || myForm.controls['password'].errors?.['minlength']"
      >password must be at least 6 characters long</mat-error
    >

    <!-- ! -->
  </mat-form-field>
  <button mat-button mat-flat-button color="primary" class="mt-2">
    Log In
    <mat-icon>login</mat-icon>
  </button>
  <div class="flex justify-content-end mt-5">
    <a routerLink="/auth/register">Need an account? Click Here!</a>
  </div>
</form>
