<div class="flex flex-column">
  <span class="text-lg mb-4">Register</span>
  <mat-form-field>
    <mat-label>User</mat-label>
    <input type="text" matInput placeholder="Username" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input type="text" matInput placeholder="Email" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input type="password" matInput placeholder="Password" />
  </mat-form-field>
  <button mat-button mat-flat-button color="primary">
    Register <mat-icon>assignment</mat-icon>
  </button>
  <div class="flex justify-content-end mt-5">
    <a routerLink="/auth/login">Already have an account? Click here!</a>
  </div>
</div>
