<mat-sidenav-container fullscreen>
  <mat-sidenav #mySidenav mode="push" [ngStyle]="{ width: '250px' }">
    <!-- ! SIDEBAR -->
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="mySidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <!-- * list inside -->
    <mat-nav-list>
      <mat-list-item
        *ngFor="let item of myItems"
        (click)="mySidenav.toggle()"
        [routerLink]="item.url"
      >
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        {{ item.label }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <!-- ! NAVBAR -->
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="mySidenav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>The Superheroes App </span>
    <span class="example-spacer"></span>
    <!-- * the uncommented code is because if we do not have a public guard as well, even if you are protected by a private guard, by cliking on this button you still have acceesss to the login page even though you are already authenticated and this gives user false impression that he has succesfully logged off even though that is not the case. -->
    <!-- <span routerLink="/auth">click me</span> -->

    <span>{{ user?.name | titlecase }}</span>
    <button
      mat-icon-button
      title="Logout"
      class="example-icon"
      aria-label="Example icon-button with share icon"
      (click)="onLogout()"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <!-- !ROUTES -->
  <div class="container p-5">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
