<mat-sidenav-container fullscreen>
  <mat-sidenav #mySidenav mode="push" [ngStyle]="{ width: '250px' }">
    <!-- ! SIDEBAR -->
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="mySidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <!-- * list inside -->
    <mat-nav-list>
      <mat-list-item
        *ngFor="let item of myItems"
        (click)="mySidenav.toggle()"
        [routerLink]="item.url"
      >
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        {{ item.label }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <!-- ! NAVBAR -->
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="mySidenav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>The Superheroes App </span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      title="Logout"
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <!-- !ROUTES -->
  <div class="container p-5">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
